{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": ["security", "prettier"],
  "extends": ["standard", "plugin:security/recommended", "prettier", "prettier/standard"],
  "rules": {
    "no-unused-expressions": "off",
    "prettier/prettier": "error",
    "camelcase": "off"
  }
}
